#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

/* Defines for readability */
#define MAC_BASE 0
#define LOWER    1
#define RAISE    2
#define ADJUST   3

/ {
    behaviors {
        bspc_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BSPC>, <&kp DEL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        adjust {
            if-layers = <LOWER RAISE>;
            then-layer = <ADJUST>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* * LAYER 0: MAC BASE / PC GAMING
         * - SPACE and BACKSPACE in the center (innermost) thumb positions.
         * - BACKSPACE is a mod-morph: Shift+BSPC sends forward DEL.
         * - LBKT and RBKT in the center (between the halves).
         * - LCTRL on home row, LSHFT below.
         * - LALT on the outer left thumb, BSLH on the outer right thumb.
         */
        default_layer {
            bindings = <
&kp GRAVE &kp N1 &kp N2 &kp N3 &kp N4 &kp N5                     &kp N6 &kp N7 &kp N8    &kp N9  &kp N0   &kp MINUS
&kp TAB   &kp Q  &kp W  &kp E  &kp R  &kp T                      &kp Y  &kp U  &kp I     &kp O   &kp P    &kp EQUAL
&kp LCTRL &kp A  &kp S  &kp D  &kp F  &kp G                      &kp H  &kp J  &kp K     &kp L   &kp SEMI &kp SQT
&kp LSHFT &kp Z  &kp X  &kp C  &kp V  &kp B  &kp LBKT   &kp RBKT &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
              &kp LALT &kp LGUI &mo LOWER &kp SPACE      &bspc_del &mo RAISE &kp RET &kp BSLH
            >;
        };

        /* * LAYER 1: LOWER (Nav & Numbers)
         * - ESC on the TAB position.
         * - Numbers 1-0 on the QWERTY row.
         * - Home row mods on S/D/F (ALT/GUI/SHIFT), Ctrl+B tmux/herdr prefix on G.
         * - Right Hand Home: Vim Navigation (HJKL).
         * - Center: { and } for quick access.
         * - Backspace thumb transparent so Alt/Cmd+Backspace word/line deletes work.
         */
        lower_layer {
            bindings = <
&kp F1    &kp F2 &kp F3   &kp F4   &kp F5    &kp F6                     &kp F7   &kp F8   &kp F9 &kp F10   &kp F11 &kp F12
&kp ESC   &kp N1 &kp N2   &kp N3   &kp N4    &kp N5                     &kp N6   &kp N7   &kp N8 &kp N9    &kp N0  &trans
&trans    &trans &kp LALT &kp LGUI &kp LSHFT &kp LC(B)                  &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans  &trans
&trans    &trans &trans   &trans   &trans    &trans   &kp LBRC &kp RBRC &trans   &trans   &trans &trans    &trans  &trans
                          &trans   &trans    &trans   &trans   &trans   &trans   &trans   &trans
            >;
        };

        /* * LAYER 2: RAISE (Symbols & Media + Nav)
         * - QWERTY Row: ! to % and ^ to ) mirroring the digit columns.
         * - Left Hand Home: Coding symbols (+ = _ - |).
         * - Left Hand Bottom: ` [ ] (shift gives ~ { }).
         * - Right Hand Home: Navigation Arrows.
         * - Right Hand Bottom: Media Controls.
         * - Top Right: PG_UP and PG_DN.
         * - Outer Right Thumb: PSCRN (Windows screenshots).
         */
        raise_layer {
            bindings = <
&trans     &trans       &trans       &trans       &trans       &trans                       &trans      &trans       &trans       &trans       &trans &kp PG_UP
&trans     &kp EXCL     &kp AT       &kp HASH     &kp DLLR     &kp PRCNT                    &kp CARET   &kp AMPS     &kp STAR     &kp LPAR     &kp RPAR &kp PG_DN
&trans     &kp PLUS     &kp EQUAL    &kp UNDER    &kp MINUS    &kp PIPE                     &kp LEFT    &kp DOWN     &kp UP       &kp RIGHT    &kp BSLH &trans
&trans     &trans       &kp GRAVE    &kp LBKT     &kp RBKT     &trans &kp LBRC &kp RBRC     &kp C_PREV  &kp C_VOL_DN &kp C_VOL_UP &kp C_NEXT   &trans &trans
                                     &trans       &trans       &trans  &kp C_PP             &trans      &trans       &trans       &kp PSCRN
            >;
        };

        /* * LAYER 3: ADJUST (hold LOWER + RAISE together)
         * - Bluetooth profiles and system controls, moved from RAISE.
         * - Same physical positions the BT row occupied on RAISE.
         */
        adjust_layer {
            bindings = <
&trans     &trans       &trans       &trans       &trans            &trans                  &trans &trans &trans &trans &trans &trans
&trans     &trans       &trans       &trans       &trans            &trans                  &trans &trans &trans &trans &trans &trans
&trans     &trans       &trans       &trans       &trans            &trans                  &trans &trans &trans &trans &trans &trans
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &ext_power EP_TOG &trans &trans &trans    &trans &trans &trans &trans &trans &trans
                                     &trans       &trans            &trans &trans           &trans &trans &trans &trans
            >;
        };
    };
};
